:root{
    --background-color: rgb(243, 242, 242);
    --card-color: white;
}

@media (max-width:768px) {
    .left-sidebar, .right-sidebar, .navbar-logo, .menu, .computer-nav{
        display: none;
        width: 0;
    }
}

.left-sidebar, .right-sidebar, .main-bar{
    margin-top: 15px;
    border-radius: 12px;
}

.left-sidebar, .right-sidebar{
    background-color: var(--background-color);
}

.list-group-item{
  border: none;
  background-color: transparent;
}

.text-right, .item{
    color: black;
    font-weight:500;
}

body{
    background-color: var(--background-color);
}

.overflow-scroll {
    overflow-y: auto;
    max-height: 600px;
    scrollbar-width: thin;
}

.main-bar{
    margin-top: 15px;
    background-color: var(--card-color);
    border-radius: 12px;
    /* text-align: center; */
}
.btn, .form-control{
    border-radius: 20px;
}

.logo-text{
    color:blue;
    font-weight:bold;
}

.navbar{
    border-radius: 5px;
}

.username, .birthday-username{
    font-weight: bold;
}

.content{
    width:80%;
    margin-right: auto;
    margin-left: auto;
}

.postarea, .card, .input-section{
    border-radius: 15px;
}

.story-feed{
    position: relative;
    border-radius: 15px;
    width:125px;
    height:235px;
}

.story-feed:hover{
    transform: scale(1.01);
    cursor: pointer;
    border-radius: 15px;
}

.story{
    overflow-x:scroll;
    overflow-y: hidden;
    max-width: 100%;
    scrollbar-width: thin;
}

.feed-name{
    position: relative;
    top: 70%;
    left: 10%;
    color:bisque;
    font-weight: lighter;
}

.feed-profile{
    position: absolute;
    border: 3px solid rgb(6, 63, 218);
    left: 10%;
    top: 5%;
}

.item:hover{
    background-color: aqua;
    border-radius: 25px;
    padding: 10px 20px 25px 8px;
    text-decoration-line: none;
}

